node-red/generateRandomTemperatureData.json
[
    {
        "id": "65f788e50536774e",
        "type": "tab",
        "label": "Generate Voltage and Temperature Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "497cc46cb7574fe8",
        "type": "debug",
        "z": "65f788e50536774e",
        "name": "log request result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "19d01cb483ebebf7",
        "type": "inject",
        "z": "65f788e50536774e",
        "name": "inject timestamp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "085406b53f90cac3"
            ]
        ]
    },
    {
        "id": "e377dcdc47eb4e3c",
        "type": "http request",
        "z": "65f788e50536774e",
        "name": "addRandomTemperature ",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 60,
        "wires": [
            [
                "497cc46cb7574fe8"
            ]
        ]
    },
    {
        "id": "085406b53f90cac3",
        "type": "function",
        "z": "65f788e50536774e",
        "name": "generateRandomTemperatureObject",
        "func": "console.log(msg.payload)\nlet time = msg.payload; // get Timestamp\nlet randomTemp = 30 + Math.random() * (40 - 30);\nreturn {\n    payload: {[time] : randomTemp},\n    method: \"PUT\",\n    url: \"https://node-red-sim-default-rtdb.asia-southeast1.firebasedatabase.app/chart-data/points/\" + time + \".json\",\n}; // set new payload to points data & id to timestamp\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 140,
        "wires": [
            [
                "e377dcdc47eb4e3c"
            ]
        ]
    }
]